.banner {
    width: 80%;
    background: url(https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif);
    background-size: cover;
    font-size: 80px;
    text-align: center;
    padding: 25px 10px;
}

.big-text{
    font-size: 100px;
    font-weight: 800;
}
.banner a{
    display: inline-block;
    background: #fff;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 40px;
    padding: 15px;
    transition: .5s;
}
.banner a:hover {
    background:#333;
    color: #fff;
}